@use '../mixins' as mixins;
@use '../constants' as constants;

.blogHeader {
  margin-block-end: 0;
  color: var(--colorDark);
  > * {
    width: 100%;
    text-align: center;
    max-width: calc(1100rem / 16);
    margin-inline: auto;
    display: grid;
    gap: 1rem;
  }
  time {
    text-transform: uppercase;
  }
  .title {
    @include mixins.ScalingFont(56, 32, 1440);
  }
  .subTitle {
    color: var(--colorGrey);
  }
  .imgWrapper {
    position: relative;
    img {
      width: 100%;
      height: auto;
      position: cover;
      border-radius: cal(12rem / 16);
    }
  }
}
.blogContent {
  margin-block-start: 0;
  color: var(--colorGrey);
  > * {
    max-width: calc(1100rem / 16);
    width: 100%;
    margin-inline: auto;
    display: grid;
    gap: 1rem;
  }
  h1 {
    @include mixins.ScalingFont(48, 28, 1440);
    font-weight: 700;
    line-height: 1.2;
  }
  h2 {
    @include mixins.ScalingFont(28, 18, 1440);
    line-height: 1.2;
    font-weight: 700;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--colorDark);
  }
  ul {
    margin-inline-start: 1.25rem;
  }
}
